python-dotenv==1.2.2
reportlab==4.4.10
fpdf==1.7.2
bs4==0.0.2
groq==1.1.2
flask==3.0.3
flask-cors==4.0.1
psycopg2-binary==2.9.9
gunicorn==21.2.0
torch==2.5.1
transformers==4.46.0
requests==2.32.3
bcrypt==4.2.0
beautifulsoup4==4.12.3
lxml==5.3.0